<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.devabit.takestock">

    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false"/>

    <application
            android:name=".TakeStockApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".screens.main.MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Launcher"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".screens.entry.EntryActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screens.selling.SellingActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".screens.search.SearchActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screens.advert.detail.AdvertDetailActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screens.advert.preview.AdvertPreviewActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screens.photoLibrary.PhotoLibraryActivity"
                android:screenOrientation="portrait"/>

        <service android:name="com.devabit.takestock.authenticator.TakeStockAuthenticatorService"
                 android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator"/>
        </service>
    </application>

</manifest>