<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.devabit.takestock">

    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false"/>

    <application
            android:name=".TakeStockApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".screen.main.MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Launcher"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".screen.entry.EntryActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".screen.advert.create.AdvertCreateActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".screen.advert.edit.AdvertEditActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".screen.advert.detail.AdvertDetailActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.advert.preview.AdvertPreviewActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.search.SearchActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.photoLibrary.PhotoLibraryActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.selling.SellingActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.questions.QuestionsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.buying.BuyingActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.offers.OffersActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.answers.AnswersActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.profile.account.ProfileAccountActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.profile.edit.ProfileEditActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".screen.help.HelpActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.about.AboutActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.camera.CameraActivity"
                android:theme="@style/AppTheme.Fullscreen"/>

        <service android:name=".authenticator.TakeStockAuthenticatorService"
                 android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator"/>
        </service>
    </application>

</manifest>